body {
    width: 100vw;
    width: 100vh;
    background-color: rgb(173, 46, 46);
    overflow-x: hidden;
}

.pokedexCorpo {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokedex-container {
    background-color: rgba(255, 0, 0, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 2vw;
}

.listaPokemon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90vw;
    justify-items: center;
}

.cardPokemon {
    width: 20vw;
    height: auto;
    border-radius: 0.5vw;
    margin-bottom: 1vw;
    margin-top: 2vw;
    cursor: pointer;
    background-image: linear-gradient(rgba(255, 255, 255, 0.301), rgba(255, 255, 255, 0.192)), url('../src/assets/pokebola.png');
    background-position: left top;
    transition: 0.3s;
}

.cardPokemon img {
    width: 15vw;
}

.cardPokemon:hover {
    transform: scale(1.1);
    outline: 0.4vw solid #2bff00;
}

.cardPokemon #nomePokemon {
    text-align: center;
    font-size: 2vw;
    margin-bottom: 1vw;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 1vw;
}

.pokedexCorpo #logo {
    margin-bottom: 1vw;
    width: 25vw;
}

.cardInfo {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.301), rgba(255, 255, 255, 0.192)), url('../src/assets/pokebola.png');
    background-size: cover;
    border-radius: 2vw;
    justify-content: center;
    transition: 0.5s;
}

.cardInfo img {
    width: 20vw;
}

#nomeInfo,
.cardInfo img {
    margin-right: 1vw;
}

.cardInfo h1 {
    font-size: 2vw;
    text-align: center;
    background-color: rgb(195, 171, 201);
    border: 0.3vw solid rgb(35, 53, 155);
    border-radius: 0.8vw;
    margin-right: 8vw;
}

#tipo,
#nomeInfo {
    border-radius: 1vw;
    border: 0.3vw solid rgb(0, 38, 255);
    width: 17vw;
    font-size: 1.8vw;
    background-color: rgb(255, 208, 0);
}

#botaoVoltar {
    margin-top: 1vw;
    width: 3vw;
    height: 3vw;
    margin-right: 5vw;
    cursor: pointer;
}

#botaoVoltar:hover {
    transform: scale(1.2);
}

.menuGeracao {
    width: auto;
    text-align: center;
    margin-top: 1vw;
}

.botaoGen {
    background-color: #fffb00d2;
    border: 0.3vw solid blue;
    border-radius: 1vw;
    margin-left: 0.5vw;
    font-size: 1.5vw;
    width: 4vw;
    cursor: pointer;
}
.botaoGen:hover, .botaoGen:active, .botaoGen:focus {
    transform: scale(1.2);
    border: 0.3vw solid green;
}

#textoSelecao {
    font-size: 2vw;
    letter-spacing: 0.2vw;
    color: #f8f6f6;
    font-weight: bold;
}
